@import url('https: //fonts.googleapis.com/css2? family= Akshar:wght@300;400 & family= Poppins:ital,wght@0,100;0,200;1,100;1,200 & family= Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700 & display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: black;
}


ul{
    list-style:none;
}

.active{
    color:aliceblue;
}

/*  NAV BAR */

.navbar{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin:0 30px;
}


/* end navbar*/

header{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg-webmark.png');
    background-position: bottom;
    background-size: cover;
    background-attachment:  fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header-content{
    margin-bottom: 300px;
    color: white;
    text-align: center;
}

.header-content h2{
font-size: 4vmin;
margin-bottom: 40px;
}

.span-text-header{
    color: rgba(54, 201, 169, 1);
}
.line{
    width: 20vmin;
    height: 4px;
    background-color: rgba(50, 172, 186, 1);
    margin:10px auto;
    border-radius: 3px;
}



.ctn{
    align-items: center;
    color: white;
    padding: 2.5vmin 10vmin;
    margin-left: 10px;
    background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);
    border: 1px solid rgba(171, 171, 171, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
    
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.7s;
}


/*EFECTO HOVER DE BOTONES PRINCIPALES*/
.span-button{
    margin-left: 0;
    background: #32ACBA;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(100px);
    width: 0;
    box-shadow: 0px 0px 27px #31AABB;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom:0;
    z-index: -1;
    transition: 0.85s;
}

.ctn:hover .span-button{
    border: 1px solid rgba(171, 171, 171, 0.1);
    opacity:1;
    width: 100%;
    left: 0;
    z-index: -1;


}

.ctn:hover{
    box-shadow: 0px 0px 25px #31AABB;
    border: rgb(84, 81, 81);
    text-decoration:none;

}




.span-button2{
    margin-left: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    background: rgba(54, 201, 169, 0.9);
    box-shadow: 0px 0px 20px #36C9A9;
    backdrop-filter: blur(100px);

    opacity: 0;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom:0;
    z-index: -1;
    transition: 0.85s;
}

#ctn1:hover .span-button2{
    width: 100%;
    left: 0;
    opacity: 1;
    z-index: -1;


}

#ctn1:hover{
    box-shadow: 0px 0px 20px #36C9A9;
    border: rgb(84, 81, 81);


}

/*FIN DE HOVER DE BOTONES*/

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;

}

/*ABOUT US*/
.section{
    width: 80%;
    margin: 80px auto;
    background-attachment:  fixed;

}

.title{
    margin-top:70px;
    text-align: center;
    font-size: 2.3vmin;
    color: white;
    font-weight: 40;
}

.section-about-us{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-style: normal;
   
    
}

.about-us{
    margin-top:20px;
    width: 33.33%;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: white;
    
    
}

.about-us img{
    width:100%; 
    display: flex;
    margin: 10px auto;
    box-shadow: 1px solid #939393;
    
}

.txt-about{
    position:relative;
    width: 100%;
    margin-top: -15%;
    font-weight: 250 ;
    background:none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.txt-about h3{
    text-align: center;

    
    background:none;
}

.line2{
    position: relative;
    width: 15vmin;
    height: 5.5px;
    background: #EDDB34;
    box-shadow: 0px 0px 6px #EDDB34;
    margin:10px auto;
    border-radius: 2px;
}

.line3{
    position: relative;
    width: 15vmin;
    height: 5.5px;
    background-color: rgba(50, 172, 186, 1);
    box-shadow: 0 0 5px rgba(50, 172, 186, 1);
    margin:10px auto;
    border-radius: 2px;
}

.line4{
    position: relative;
    width: 15vmin;
    height: 5.5px;
    background: #35C4AC;
    box-shadow: 0px 0px 6px #35C4AC;
    margin:10px auto;
    border-radius: 2px;
}


/*Hover effect*/

.about-us img:hover{
    transition: all .3s ease-in;
    filter: brightness(0.7) ;
    filter:  blur(2px);
}

.txt-about:hover {
    transition: all .5s ease-in;
}



/*SERVICES*/



.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    background:none;
}

.contenedor1 .box{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px;
    transition: 0.5s;
}

.contenedor1 .box::before{
    content: '';
    position: absolute;
    top:0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffff;
    border-radius: 8px ;
    transform: skewX(15deg);
    transition: 0.5s;
}

.contenedor1 .box::after{
    content: '';
    position: absolute;
    top:0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffff;
    border-radius: 8px ;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

.contenedor1 .box:hover:before,
.contenedor1 .box:hover:after{
transform:skewX(0deg);
left: 20px;
width: calc(100% - 90px);
}

/*gradiente 1*/
.contenedor1 .box:nth-child(1):before,
.contenedor1 .box:nth-child(1):after{
background: linear-gradient(315deg, #ffbc00,#ff0058);
}
/*Gradiente 2*/
.contenedor1 .box:nth-child(2):before,
.contenedor1 .box:nth-child(2):after{
    background: linear-gradient(315deg, rgba(49, 171, 187, 0.8) 0%, rgba(77, 180, 159, 0.9) 100%);
}

/*Gradiente 3*/
.contenedor1 .box:nth-child(3):before,
.contenedor1 .box:nth-child(3):after{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}


.contenedor1 .box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;

}


.contenedor1 .box span::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 8px;
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
opacity: 0;
transition: 0.5s;
animation: animate 2s ease-in-out infinite;
box-shadow: 0 5px 15px rgba(0,0,0,0.05);

}


.contenedor1 .box:hover span:before{
top: -50px;
left: 50px;
width: 100px;
height: 100px;
opacity: 1;
}


.contenedor1 .box span::after{
    content: '';
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay:-1s ;
    
    }
    
    
    .contenedor1 .box:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
    }
    

   .contenedor1 .box .content:before{
        position: relative;
        left:0;
        padding: 20px 40px;
        background: rgba(255,255,255,0.1);

        border: 2px solid rgba(92, 60, 60, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        backdrop-filter: blur(10px);
        z-index: 1;
        transition:0.5s;
        color:#ffff;
        background: none;
    }


    .contenedor1 .box .content{
        position: relative;
        left:0;
        padding: 20px 40px;
        background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);

        border: 1px solid rgba(92, 60, 60, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        backdrop-filter: blur(10px);
        z-index: 1;
        transition:0.5s;
        color:#ffff;
    }


    .contenedor1 .box:hover .content{
        left: -25px;
        padding: 60px 40px;
    }


    .contenedor1 .box .content h2{
        font-size:1.4rem;
        color:white;
        margin-bottom:10px;
    }

    .contenedor1 .box .content p{
        font-size:0.9rem;
        color:white;
        margin-bottom:10px;
        line-height: 1.4rem;
    }


    .contenedor1 .box .content a{
       display: inline-block;
       font-size: 1.1rem;
       color: black;
       background: white;
       padding: 10px;
       border-radius:4px;
       font-weight: 700;
       margin-top: 5px;       
    }


/* CONTACT FORM CSS*/

.contact{
    width: 100%;
    height: 90vh;
   
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    align-items: center;

    color: white;
    background:black;
    position: relative;
       
}
.contact-container{
    max-width: 1150px;

    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);
    opacity: 0.95;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    

    border-radius: 0.5rem;
    overflow: hidden ;
    
}

.form-container{
    padding:20px;
}

.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom:1rem;
}

.contact-form{
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    border:none;
    outline: none;
    background: rgba(69, 75, 87, 0.7);
    padding: 10px;
    font-size: 0.9rem ;
    color: white;
    border-radius: 0.4rem;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form .send-button{
    border:none;
    outline:none;
    background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);
    border: 1px solid rgba(171, 171, 171, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ;


}

.contact-form .send-button:hover{
    background: hsl(181,100%,44%,0.8);
    box-shadow: 0px 0px 40px 0px rgba(60, 157, 169, 1);
    opacity: 0.9;

}


.map iframe{
width: 100%;
height: 100%;
}
/*----------------------*/

@keyframes animate 
{
    0%,100%
    {
        transform:translateY(10px);
    }
    50%
    {
        transform:translateY(-10px);
    }

}
/* mobile device*/

@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top:30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(2, 1, 9);
        margin-top: -900px;
        transition: all 0.5s ease;
        
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

  

    .nav-links li{
        margin: 30px auto;
    }

    .menu-btn{
        display: block;
    }



    /*about us*/
    .section-about-us{
        display:inline-flex;
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        font-style: normal;
       
        
    }
    
    .about-us{
        margin-top:20px;
        width: auto;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        color: white;
        
        
    }
    
    .about-us img{
        width:100%; 
        display: block;
        margin: 10px auto;
    }
    
    .txt-about{
        margin-top: -15%;
        width: 100%;
        font-weight: 250 ;
    }

}

@media (max-width:964px){
    /*responsive Contact form*/
    .contact-container{
       
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .contact{
    height: 150vh;

    }

    .map iframe{
        height: 400px;
    }
}
